header{
   height: 20px;
   background-color: lightblue;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   padding: 20px 20px 20px 20px;
   font-size: 1.5em;
}

header > h1{
   color: white;
   font-size: 3em;
   font-style: italic;
   text-align: right;
}

header em{
   font-size: 0.75em;
}

nav ul{
   list-style-type: none;
   padding:0;
   overflow: hidden;
   background-color: #add8e682;
   margin: 0 0 0 0;
}

nav li{
   float: right;
   color: black;
   padding-right: 10px;
   padding-left: 10px;
}

nav li:hover:not(.active){
   background-color: #ade6db82;
}

nav .active{
   background-color: green;
} 

.login{
	float: left;
	padding-left: 50px;
}

.signup{
	float: left;
	
}

#location{
	float: left;
	outline-style: solid;
	outline-color: black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#t01{
	border: 1px solid black;
	border-collapse: collapse;
	width: 500px;
}

